<section class="mrg_tb">
    <div class="BGNewsletter pad_tb">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-5">
                    <h2 class="ivy cl-theme">Let's Keep in Touch</h2>
                    <div class="cl-51">Be the first to know about new arrivals, exclusive
                        offers, and the latest trends.</div>
                </div>
                <div class="mt-4 mt-lg-0 col-lg-7">
                    <div class="row m-0">
                        <div class="col-12 col-sm-12 p-0">
         {%- form 'customer', id: 'newsletter-footer' -%}
                  {%- if form.posted_successfully? -%}
                    <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
                  {%- endif -%}
                  {%- if form.context == 'footer' -%}
                    {%- if form.errors -%}
                      {{ form.errors | default_errors }}
                    {%- endif -%}
                  {%- endif -%}
        
                  <label for="Email-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                  <label for="newsletter-submit-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.submit' | t }}</label>
                  <input type="hidden" name="contact[tags]" value="prospect,newsletter">
                  <input type="hidden" name="contact[context]" value="footer">
                  <div class="footer__newsletter">
                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ block.id }}" class="footer__newsletter-input" autocorrect="off" autocapitalize="off" required>
                    <button type="submit" id="newsletter-submit-{{ block.id }}" class="footer__newsletter-btn" name="commit">
                  Submit
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-email" viewBox="0 0 64 64"><title>icon-email</title><path d="M63 52H1V12h62ZM1 12l25.68 24h9.72L63 12M21.82 31.68 1.56 51.16m60.78.78L41.27 31.68"/></svg>
                      <span class="footer__newsletter-btn-label">
                        {{ 'general.newsletter_form.submit' | t }}
                      </span>
                    </button>
                  </div>
                {%- endform -%}
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
.footer__newsletter-input {
    max-width: 100%;
    padding: 12px 80px 10px 20px;
}
.footer__newsletter-input::placeholder {
  color: #000;
}
</style>

{% schema %}
{
  "name": "Newsletter-section",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Newsletter-section"
    }
  ],
}
{% endschema %}