<section class="mrg_tb">
  <div class="container">
    <div class="container">
      <div class="row CertiBorder">
        <div class="col-lg-6 p-0">
          {%- if section.settings.certification_and_diamond_education_image_1 != blank -%}
            <img
              width="800"
              height="800"
              loading="lazy"
              alt="Certification"
              draggable="false"
              class="img-fluid"
              src="{{ section.settings.certification_and_diamond_education_image_1 | image_url }}"
            >
          {%- else -%}
            <img
              width="800"
              height="800"
              loading="lazy"
              alt="Certification"
              draggable="false"
              class="img-fluid"
              src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/certification_and_diamond_education_image_1.png?v=1728654144"
            >
          {%- endif -%}
        </div>

        <div class="col-lg-6 p-0 d-flex flex-column justify-content-center align-items-center certificationCard">
          <h2 class="heading text-center">{{ section.settings.heading_1 }}</h2>
          <div class="cusContent mt-2 mb-4 text-center">{{ section.settings.description_1 }}</div>
          <div class="d-flex justify-content-center align-items-center certiLogo mt-3 mt-sm-4">
            <div>
              {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Certification"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}"
                >
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Certification"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/certification_and_diamond_education_image_2.png?v=1728654141"
                >
              {%- endif -%}
            </div>
            <div class="mx-4 mx-sm-5">
              {%- if section.settings.certification_and_diamond_education_image_3 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Certification"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_3 | image_url }}"
                >
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Certification"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/certification_and_diamond_education_image_3.png?v=1728654141"
                >
              {%- endif -%}
            </div>
            <div>
              {%- if section.settings.certification_and_diamond_education_image_4 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Certification"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_4 | image_url }}"
                >
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Certification"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/certification_and_diamond_education_image_4.png?v=1728654141"
                >
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>

      <div class="row CertiBorder mt-3">
        <div class="col-lg-6 order-1 order-lg-0 p-0 d-flex flex-column justify-content-center align-items-center certificationCard">
          <h2 class="heading text-center">{{ section.settings.heading_2 }}</h2>
          <div class="cusContent mt-2 mb-4 text-center">
            {{ section.settings.description_2 -}}
            <br class="d-none d-md-block">
            {{ section.settings.sub_description_2 }}
          </div>
          <div class="row mt-3 mt-lg-4 px-md-3 px-xl-5">
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
              <a href="{{ section.settings.button_url_1 }}" class="cusA cusOptBtn w-100 text-center">
                {{- section.settings.button_text_1 -}}
              </a>
            </div>
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
              <a href="{{ section.settings.button_url_2 }}" class="cusA cusOptBtn w-100 text-center">
                {{- section.settings.button_text_2 -}}
              </a>
            </div>
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
              <a href="{{ section.settings.button_url_3 }}" class="cusA cusOptBtn w-100 text-center">
                {{- section.settings.button_text_3 -}}
              </a>
            </div>
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
              <a href="{{ section.settings.button_url_4 }}" class="cusA cusOptBtn w-100 text-center">
                {{- section.settings.button_text_4 -}}
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 order-0 order-lg-1 p-0">
          {%- if section.settings.certification_and_diamond_education_image_5 != blank -%}
            <img
              width="800"
              height="800"
              loading="lazy"
              alt="Certification"
              draggable="false"
              class="img-fluid"
              src="{{ section.settings.certification_and_diamond_education_image_5 | image_url }}"
            >
          {%- else -%}
            <img
              width="800"
              height="800"
              loading="lazy"
              alt="Certification"
              draggable="false"
              class="img-fluid"
              src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/certification_and_diamond_education_image_5.png?v=1728654145"
            >
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Certification and Diamond",
  "settings": [
    {
      "type": "text",
      "id": "heading_1",
      "label": "Heading 1",
      "default": "Certification"
    },
    {
      "type": "html",
      "id": "description_1",
      "label": "Description 1",
      "default": "Stienhardt diamonds are graded by the three most reputable laboratories in the industry, IGI, GIA, and GCAL."
    },
    {
      "type": "text",
      "id": "heading_2",
      "label": "Heading 2",
      "default": "Diamond Education"
    },
    {
      "type": "html",
      "id": "description_2",
      "label": "Description 2",
      "default": "Learn about the “4 C’s” to help you with your"
    },
    {
      "type": "image_picker",
      "id": "certification_and_diamond_education_image_1",
      "label": "certification_and_diamond_education_image_1",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "certification_and_diamond_education_image_2",
      "label": "certification_and_diamond_education_image_2",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "certification_and_diamond_education_image_3",
      "label": "certification_and_diamond_education_image_3",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "certification_and_diamond_education_image_4",
      "label": "certification_and_diamond_education_image_4",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "certification_and_diamond_education_image_5",
      "label": "certification_and_diamond_education_image_5",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button Text 1",
      "default": "Diamond Cut"
    },
    {
      "type": "url",
      "id": "button_url_1",
      "label": "Button URL 1"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button Text 2",
      "default": "Diamond Color"
    },
    {
      "type": "url",
      "id": "button_url_2",
      "label": "Button URL 2"
    },
    {
      "type": "text",
      "id": "button_text_3",
      "label": "Button Text 3",
      "default": "Diamond Clarity"
    },
    {
      "type": "url",
      "id": "button_url_3",
      "label": "Button URL 3"
    },
    {
      "type": "text",
      "id": "button_text_4",
      "label": "Button Text 4",
      "default": "Carat Weight"
    },
    {
      "type": "url",
      "id": "button_url_4",
      "label": "Button URL 4"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Certification and Diamond Education"
    }
  ]
}
{% endschema %}
