<section class="mrg_tb">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center mb-4">
      <h2 class="heading CLRedValentine">{{ section.settings.heading }}</h2>
      <div class="subHeading">{{ section.settings.description }}</div>
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExampleFAQ">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQOne"
            aria-expanded="false"
            aria-controls="flush-collapseFAQOne"
          >
            {{ section.settings.text_1 }}
          </button>
        </h2>
        <div id="flush-collapseFAQOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_1 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQTwo"
            aria-expanded="false"
            aria-controls="flush-collapseFAQTwo"
          >
            {{ section.settings.text_2 }}
          </button>
        </h2>
        <div id="flush-collapseFAQTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_2 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQThree"
            aria-expanded="false"
            aria-controls="flush-collapseFAQThree"
          >
            {{ section.settings.text_3 }}
          </button>
        </h2>
        <div id="flush-collapseFAQThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_3 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQFour"
            aria-expanded="false"
            aria-controls="flush-collapseFAQFour"
          >
            {{ section.settings.text_4 }}
          </button>
        </h2>
        <div id="flush-collapseFAQFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_4 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQFive"
            aria-expanded="false"
            aria-controls="flush-collapseFAQFive"
          >
            {{ section.settings.text_5 }}
          </button>
        </h2>
        <div id="flush-collapseFAQFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_5 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQSix"
            aria-expanded="false"
            aria-controls="flush-collapseFAQSix"
          >
            {{ section.settings.text_6 }}
          </button>
        </h2>
        <div id="flush-collapseFAQSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_6 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQSeven"
            aria-expanded="false"
            aria-controls="flush-collapseFAQSeven"
          >
            {{ section.settings.text_7 }}
          </button>
        </h2>
        <div id="flush-collapseFAQSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_7 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQEight"
            aria-expanded="false"
            aria-controls="flush-collapseFAQEight"
          >
            {{ section.settings.text_8 }}
          </button>
        </h2>
        <div id="flush-collapseFAQEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_8 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQNine"
            aria-expanded="false"
            aria-controls="flush-collapseFAQNine"
          >
            {{ section.settings.text_9 }}
          </button>
        </h2>
        <div id="flush-collapseFAQNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_9 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQTen"
            aria-expanded="false"
            aria-controls="flush-collapseFAQTen"
          >
            {{ section.settings.text_10 }}
          </button>
        </h2>
        <div id="flush-collapseFAQTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleFAQ">
          <div class="accordion-body FAQBody">{{ section.settings.description_10 }}</div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ivy f-20 cusLspace FAQBtn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFAQEleven"
            aria-expanded="false"
            aria-controls="flush-collapseFAQEleven"
          >
            {{ section.settings.text_11 }}
          </button>
        </h2>
        <div
          id="flush-collapseFAQEleven"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExampleFAQ"
        >
          <div class="accordion-body FAQBody">{{ section.settings.description_11 }}</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Home FAQ",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "html",
      "id": "description",
      "label": "Description",
      "default": "Find answers to common questions about our products, services, and policies to enhance your shopping experience at Stienhardt & Stones."
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "Text 1",
      "default": "What are lab-grown diamonds?"
    },
    {
      "type": "html",
      "id": "description_1",
      "label": "Description 1",
      "default": "Cultured diamonds are cultured in a laboratory with the application of the latest technology which acts as a mimic to the natural process of forming a diamond, and as such, they are real diamonds that cannot be distinguished from the mined diamonds as they are the same in every aspect."
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Text 2",
      "default": "Are lab-grown diamonds ethical?"
    },
    {
      "type": "html",
      "id": "description_2",
      "label": "Description 2",
      "default": "Yes! Lab-grown diamonds are not tainted with conflict, and the processes of growing diamonds are not involve with exploited labor."
    },
    {
      "type": "text",
      "id": "text_3",
      "label": "Text 3",
      "default": "How do I care for my lab-grown diamond?"
    },
    {
      "type": "html",
      "id": "description_3",
      "label": "Description 3",
      "default": "It is simply preserving a lab-grown diamond just like a mined diamond. To maintain its appearance it’s best to clean it frequently as well as store it in the right place."
    },
    {
      "type": "text",
      "id": "text_4",
      "label": "Text 4",
      "default": "How do lab-grown diamonds compare to natural diamonds?"
    },
    {
      "type": "html",
      "id": "description_4",
      "label": "Description 4",
      "default": "Synthetic diamonds are visually similar or exactly similar to earth-mined diamonds in every way possible. Being as it is that lab-grown diamonds are man-made they are not the same as natural diamonds which are formed in the earth over millions of years. Moreover, lab-created diamonds are 20-40% cheaper compared to mined diamonds which gives further evidence of diamond’s flexibility to changing industry demands."
    },
    {
      "type": "text",
      "id": "text_5",
      "label": "Text 5",
      "default": "What types of engagement rings do you offer?"
    },
    {
      "type": "html",
      "id": "description_5",
      "label": "Description 5",
      "default": "As for engagement rings, we have numerous types like solitaire, halo, and vintage engagement rings. That is why our rings can feature lab-grown diamonds that will fit your tastes and wallet."
    },
    {
      "type": "text",
      "id": "text_6",
      "label": "Text 6",
      "default": "Can I customize my engagement ring?"
    },
    {
      "type": "html",
      "id": "description_6",
      "label": "Description 6",
      "default": "Absolutely! What are the options that can be included for a buyer to upgrade, when it comes to an engagement ring at Stienhardt? One can choose the shape of the diamond to be used, the style of setting and the type of metal to be used."
    },
    {
      "type": "text",
      "id": "text_7",
      "label": "Text 7",
      "default": "What is the return policy for your jewelry?"
    },
    {
      "type": "html",
      "id": "description_7",
      "label": "Description 7",
      "default": "For all the jewelry that we sell, we are proud to have a thirty days return policy on them. If you are not fully satisfied with the product that you have bought, you have the right to return it within 15 days from the date of purchase with the receipt and get your full refund or exchange the product to another one but it should be in its new condition."
    },
    {
      "type": "text",
      "id": "text_8",
      "label": "Text 8",
      "default": "Do you offer wedding bands?"
    },
    {
      "type": "html",
      "id": "description_8",
      "label": "Description 8",
      "default": "Yes, we do have wedding bands and they come in many styles as well as different materials. You can also order your wedding band to compliment the engagement ring you choose most to make them blend well."
    },
    {
      "type": "text",
      "id": "text_9",
      "label": "Text 9",
      "default": "What types of earrings do you sell?"
    },
    {
      "type": "html",
      "id": "description_9",
      "label": "Description 9",
      "default": "At our store, you may find both sets of ear studs and beautiful drop earrings. Both can have additional diamonds or other gemstones created in a lab, depending on one’s preference."
    },
    {
      "type": "text",
      "id": "text_10",
      "label": "Text 10",
      "default": "How do I contact customer service?"
    },
    {
      "type": "html",
      "id": "description_10",
      "label": "Description 10",
      "default": "You can contact our customer service representatives through email at care@stienhardt. or by following the link to our com or by contacting us at 917-909-6402. Here we are ready to help you with any concerns or questions that may arise from any facet of the installed information technology applications."
    },
    {
      "type": "text",
      "id": "text_11",
      "label": "Text 11",
      "default": "Why Choose Lab-Grown Diamonds?"
    },
    {
      "type": "html",
      "id": "description_11",
      "label": "Description 11",
      "default": "Lab-grown diamonds offer the same beauty and brilliance as mined diamonds, but with significant advantages: Lab-grown diamonds offer the same beauty and brilliance as mined diamonds, but with significant advantages:<br><br> <strong>Sustainable:</strong> Lab-grown diamonds are developed in laboratories which means that they are free from any adverse effects related to mining.<br> <strong>Ethical:</strong> Your diamonds are all conflict-free so expect that your purchasing dollars do not fund unfair labor.<br> <strong>Affordable:</strong> Now, you can experience owning diamonds without digging deep into your pocket thanks to the affordable prices of such jewelry."
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Home FAQ"
    }
  ]
}
{% endschema %}
