<section class="mrg_tb d-none d-md-block">
  <div class="container-lg">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="none" class="TopicsIcon">
                    <path d="M40.6247 36.4583C40.6247 39.3348 38.2928 41.6667 35.4163 41.6667C32.5399 41.6667 30.208 39.3348 30.208 36.4583C30.208 33.5819 32.5399 31.25 35.4163 31.25C38.2928 31.25 40.6247 33.5819 40.6247 36.4583Z" stroke="#113174" stroke-width="1.5"/>
                    <path d="M19.7917 36.4583C19.7917 39.3348 17.4598 41.6667 14.5833 41.6667C11.7069 41.6667 9.375 39.3348 9.375 36.4583C9.375 33.5819 11.7069 31.25 14.5833 31.25C17.4598 31.25 19.7917 33.5819 19.7917 36.4583Z" stroke="#113174" stroke-width="1.5"/>
                    <path d="M30.2087 36.4583H19.792M40.6253 36.4583H42.2153C42.6735 36.4583 42.9026 36.4583 43.0951 36.4344C44.5147 36.2575 45.6328 35.1394 45.8097 33.7198C45.8337 33.5273 45.8337 33.2981 45.8337 32.84V27.0833C45.8337 19.6045 39.771 13.5416 32.292 13.5416M4.16699 8.33331H25.0003C27.9466 8.33331 29.4197 8.33331 30.3351 9.2486C31.2503 10.1639 31.2503 11.637 31.2503 14.5833V32.2916M4.16699 26.5625V31.25C4.16699 33.1971 4.16699 34.1706 4.58566 34.8958C4.85993 35.3708 5.25443 35.7654 5.72949 36.0396C6.45466 36.4583 7.4282 36.4583 9.37533 36.4583" stroke="#113174" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.16699 14.5833H16.667M4.16699 20.8333H12.5003" stroke="#113174" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        <div class="d-flex flex-column justify-content-center align-items-start ms-2 ms-md-3">
          <div class="ThreeTopicHead">{{ section.settings.heading_1 }}</div>
          <div class="ThreeTopicSub">{{ section.settings.description_1 }}</div>
        </div>
      </div>
      <div class="d-flex">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="none" class="TopicsIcon">
                    <path d="M35.3681 40.625C40.4202 37.2658 43.75 31.5219 43.75 25C43.75 14.6447 35.3554 6.25 25 6.25C23.5679 6.25 22.1733 6.41054 20.8333 6.71463M35.3681 40.625V33.3333M35.3681 40.625H42.7083M14.5833 9.4074C9.5584 12.771 6.25 18.4991 6.25 25C6.25 35.3554 14.6447 43.75 25 43.75C26.4321 43.75 27.8267 43.5894 29.1667 43.2854M14.5833 9.4074V16.6667M14.5833 9.4074H7.29167" stroke="#113174" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        <div class="d-flex flex-column justify-content-center align-items-start ms-2 ms-md-3">
          <div class="ThreeTopicHead">{{ section.settings.heading_2 }}</div>
          <div class="ThreeTopicSub">{{ section.settings.description_2 }}</div>
        </div>
      </div>
      <div class="d-flex">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="none" class="TopicsIcon">
                    <path d="M7.87037 24.88C5.89532 21.4361 4.94168 18.6239 4.36666 15.7734C3.5162 11.5575 5.46243 7.43921 8.68653 4.81142C10.0492 3.70082 11.6112 4.08027 12.417 5.52586L14.2361 8.78942C15.678 11.3762 16.3989 12.6696 16.2559 14.0408C16.113 15.4121 15.1407 16.5289 13.1961 18.7625L7.87037 24.88ZM7.87037 24.88C11.8681 31.8506 18.1417 38.1277 25.1203 42.13M25.1203 42.13C28.5643 44.105 31.3764 45.0588 34.227 45.6338C38.4428 46.4842 42.5612 44.5379 45.1889 41.3138C46.2995 39.9513 45.9201 38.3892 44.4745 37.5834L41.2109 35.7642C38.6241 34.3223 37.3307 33.6015 35.9595 33.7444C34.5882 33.8873 33.4714 34.8596 31.2378 36.8042L25.1203 42.13Z" stroke="#113174" stroke-width="1.5" stroke-linejoin="round"/>
                    <path d="M25 14.5833H26.7856C27.6275 14.5833 28.0483 14.5833 28.31 14.8376C28.5715 15.0918 28.5715 15.501 28.5715 16.3194C28.5715 17.9563 28.5715 18.7746 28.0483 19.2831C27.6506 19.6699 27.0685 19.7625 26.0719 19.7847C25.5608 19.796 25.3052 19.8017 25.1525 19.9535C25 20.1053 25 20.348 25 20.8333V23.2639C25 24.0823 25 24.4914 25.2615 24.7458C25.5231 25 25.944 25 26.7856 25H28.5715M37.5 14.5833V19.7916M37.5 19.7916H34.4644C33.7908 19.7916 33.4542 19.7916 33.245 19.5883C33.0356 19.3849 33.0356 19.0575 33.0356 18.4028V14.5833M37.5 19.7916V25" stroke="#113174" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.833 8.96915C21.0184 8.76081 21.2111 8.55662 21.4109 8.35687C26.9978 2.76996 36.0559 2.76996 41.6428 8.35687C47.2297 13.9438 47.2297 23.0019 41.6428 28.5888C41.443 28.7886 41.2388 28.9813 41.0305 29.1667" stroke="#113174" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
        <div class="d-flex flex-column justify-content-center align-items-start ms-2 ms-md-3">
          <div class="ThreeTopicHead">{{ section.settings.heading_3 }}</div>
          <div class="ThreeTopicSub">{{ section.settings.description_3 }}</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Our Services",
  "settings": [
    {
      "type": "text",
      "id": "heading_1",
      "label": "Heading 1",
      "default": "Free Delivery"
    },
    {
      "type": "html",
      "id": "description_1",
      "label": "Description 1",
      "default": "Fast & Free Delivery Awaits!"
    },
    {
      "type": "text",
      "id": "heading_2",
      "label": "Heading 2",
      "default": "Easy Exchange"
    },
    {
      "type": "html",
      "id": "description_2",
      "label": "Description 2",
      "default": "Exchange Made Effortless Today!"
    },
    {
      "type": "text",
      "id": "heading_3",
      "label": "Heading 3",
      "default": "24/7 Free Support"
    },
    {
      "type": "html",
      "id": "description_3",
      "label": "Description 3",
      "default": "24/7 Help, Just Ask!"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Our Services"
    }
  ]
}
{% endschema %}
