<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.0-beta.1/jquery-ui.min.js" ></script>
<link rel="stylesheet" href="{{ 'diamond-detail.aio.min.css' | asset_url }}">
<style>
.accordion-content .diamond-details-title {
    font-size: 20px;
    margin: 0 0 10px;
}
</style>
<div class="process-steps page-width">
    <div class="process-steps-wrapper">
        <p class="process-steps-heading">Create Your Diamond Ring</p>
        <div class="process-steps-container">
            <div class="start-over-button">
                <p id="start-over" class="text-uppercase">Start Over</p>
            </div>
            <div class="steps-wrapper">
                <div class="step step-1" data-step="ring-setting">
                    <div class="step-container">
                        <div class="step-count">
                            <div class="count">1</div>
                            <div class="title-wrapper">
                                <p class="title">Choose a setting</p>
                            </div>
                        </div>
                        <div class="product-selection" id="addedring">

                        </div>
                    </div>
                </div>
                <div class="step step-2 active" data-step="diamonds">
                    <div class="step-container">
                        <div class="step-count">
                            <div class="count">2</div>
                            <div class="title-wrapper">
                                <p class="title">Choose a diamond</p>
                            </div>
                        </div>
                        <div class="product-selection" id="addeddiamond">

                        </div>
                    </div>
                </div>
                <div class="step step-3" data-step="final-ring">
                    <div class="step-container">
                        <div class="step-count">
                            <div class="count">3</div>
                            <div class="title-wrapper">
                                <p class="title">Complete Your Ring</p>
                            </div>
                        </div>
                        <div class="product-selection" id="completering">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-template__container   diamond-product-template" id="ProductSection-diamond-product-template">
    <div class="grid diamond-pdp-loading-skeleton" id="skel">
        <div class="grid__item medium-up--two-thirds">
            <div class="image-skeleton">
                <div class="skeleton-box" style="display:block;"></div>
            </div>
        </div>
        <div class="grid__item medium-up--one-third">
            <div class="title skeleton-box " style="display:block;"> </div>
            <div class="price skeleton-box " style="display:block;"></div>
            <div class="price skeleton-box " style="display:block;"></div>
            <div class="common-skeleton skeleton-box " style="display:block;"></div>
            <div class="common-skeleton skeleton-box " style="display:block;"></div>
            <div class="common-skeleton skeleton-box " style="display:block;"></div>
            <div class="common-skeleton skeleton-box " style="display:block;"></div>
        </div>
    </div>

    <div class="product-single-not-available" id="noproduct" style="display:none;">
        <p>This diamond is no longer available as it was purchased by another customer. Please try our searching for a new diamond.</p>
      <a href="/collections/lab-diamonds" class="btn" data-uw-rm-brl="PR" data-uw-original-href="/collections/lab-diamonds">Choose a diamond</a>
    </div>



  <div class="grid grid--no-gutters-sm product-single" id="mainproduct" style="display:none;">
      <div class="grid__item product-single__diamond-group medium-up--two-thirds" data-product-single-media-group="">
          <div class="diamond-image-wrapper">
              <div class="diamond-image">
                  <div class="diamond-image-grid">
                      <div class="image-wrapper">
                          <img loading="lazy" src="https://d3at7kzws0mw3g.cloudfront.net/images/diamond/242110-9.jpg">
                      </div>
                  </div>
              </div>
              <div class="diamond-iframe">
                  <div class="diamond-image-grid">
                      <iframe loading="lazy" width="600px" height="600px" data-uw-rm-iframe="un"></iframe>
                  </div>
              </div>
              <div class="diamond-fingure-view">
                  <div class="diamond-image-grid">
                      <div class="image-wrapper">
                          <img loading="lazy" class="thubnil-img lazyload" data-widths="[400,500,600,700,800]" data-src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/loose-diamond-hand-large.jpg?v=1681822779">
                      </div>
                      <div class="diamond-on-hand">
                          <span class="hand_diamond_img oval" style="background-size: 41.85%;"></span>
                      </div>
                      <div id="slider" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                          <div id="custom-handle" class="ui-slider-handle ui-corner-all ui-state-default" tabindex="0" style="left: 2.93103%;"><span>0.37 Ct</span></div>
                      </div>
                  </div>
              </div>
              <div class="diamond-certificate">
                  <div class="diamond-image-grid">
                      <div class="image-wrapper">
                          <img loading="lazy" class="thubnil-img lazyload" data-widths="[400,500,600,700,800]" data-src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/IGI_Icon_d7510f13-1b92-4a59-9ae5-4bf69426e48d.png?v=1680007037">
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="diamond-thumbnil-wrapper">
              <div class="diamond-thumbnil diamond-image active" data-type="diamond-image">
                  <img src="https://d3at7kzws0mw3g.cloudfront.net/images/diamond/242110-9.jpg">
              </div>
              <div class="diamond-thumbnil diamond-360" data-type="diamond-iframe">
                  <img loading="lazy" class="thubnil-img ls-is-cached lazyloaded" data-widths="[40, 50,80,100]" data-src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/video_play.png?v=1680007360" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/video_play.png?v=1680007360">
              </div>
              <div class="diamond-thumbnil diamond-size-preivew" data-type="diamond-fingure-view">
                  <img loading="lazy" class="thubnil-img ls-is-cached lazyloaded" data-widths="[40, 50,80,100]" data-src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/loose-diamond-hand.png?v=1680006720" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/loose-diamond-hand.png?v=1680006720">
                  <div class="diamond-on-hand">
                      <span class="hand_diamond_img round oval" style="background-size: 41.85%;"></span>
                  </div>
              </div>
              <div class="diamond-thumbnil diamond-certificate" data-type="diamond-certificate">
                  <a href="https://www.gia.edu/report-check?reportno=2486697056" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message" data-uw-rm-ext-link="na" data-uw-rm-brl="PR" data-uw-original-href="https://www.gia.edu/report-check?reportno=2486697056">
                      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0757/8851/7659/files/GIA_Icon_60d07140-6c0d-4f9d-8321-89b0bd69240a.png?v=1684576576">
                  </a>
              </div>
          </div>
      </div>
  
  
      <div class="grid__item product-single__information medium-up--one-third product-single__description-container">
          <div class="product-single__meta">
              <h1 class="product-single__title" role="heading" aria-level="2" data-uw-rm-heading="level">0.37 Carat Oval Natural Diamond</h1>
              <div class="product-single__sku">Certificate Number#:
                  <span>2486697056</span>
              </div>
              <div class="product-single__price">
                  <div class="prodcut__price">
                      <div class="price__on-sale" data-uw-rm-sr="">$366</div>
                      <div class="diamond__only">(Diamond Only)</div>
                  </div>
                  <div class="bank-wire-price" data-uw-rm-sr="">BANK WIRE PRICE $359</div>
              </div>
              <div class="affirm-info-wrapper">
                  <p class="affirm-as-low-as" data-page-type="product" data-amount="36600" data-uw-rm-sr="">Starting at <span class="affirm-ala-price" data-uw-rm-sr="">$34</span>/mo or 0% APR with <span class="__affirm-logo __affirm-logo-blue __ligature__affirm_full_logo__ __processed">Affirm</span>. <a class="affirm-modal-trigger" aria-label="See if you qualify - Learn more about Affirm Financing (opens in modal)"
                      href="javascript:void(0)">See if you qualify</a>
                  </p>
              </div>
              <div class="product__addon-info">
                  <p class="extented-returns-popup-button">Free Insured Shipping. <span class="extented-returns-title">30 Day Returns.</span></p>
              </div>
              <div class="diamond-short-information">
                  <div class="diamond-info-wrapper">
                      <div class="diamond-info">Shape:
                          <span class="shape-info">Oval</span>
                      </div>
                      <div class="diamond-info">Color:
                          <span class="color-info">E</span>
                      </div>
                      <div class="diamond-info">Carat:
                          <span class="carat-info">0.37</span>
                      </div>
                      <div class="diamond-info">Clarity:
                          <span class="clarity-info">SI1</span>
                      </div>
                      <div class="diamond-info">Cut:
                          <span class="cut-info">Very Good</span>
                      </div>
                      <div class="diamond-info">Certificate:
                          <span class="certificate-type-info">GIA</span>
                      </div>
                  </div>
                  <div class="diamond-more-info">
                      <p class="more-info-button">MORE DETAILS</p>
                  </div>
              </div>
  
              <div class="purchase-advantage diamond-pdp-advantage hide">
                  <span class="free-return-info">
                  <span></span>30 - day Return Period</span> <span class="free-shipping-info">
                  <span></span>Free Shipping</span>
              </div>
            {% comment %}
              <div class="holiday-diamond-event flex">
  
                  <div class="image-wrapper">
                      <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0757/8851/7659/files/PDP-mothers-day_2024_2x_5537c5e8-ffac-4dd3-bad7-7b2bd1661602.png?v=1712914931" class="d-block" alt="Mother's day" data-uw-rm-alt-original="Mother's day" data-uw-rm-alt="ALT">
                  </div>
                  <div class="content">
                      <span class="sub-title hide">LAST DAY</span>
                      <h3><span>Offer</span> Extended</h3>
                      <p data-uw-rm-sr=""><strong>Get 1/4 CTW. Diamond Bar Pendant </strong>with purchase over $1,000.</p>
                      <p data-uw-rm-sr=""><strong>Get 1/2 CTW. Diamond Bolo Bracelet </strong>with purchase over $3,000.</p>
                      <p id="schedule-appointment-btn"></p>
                      <span class="holiday-diamond-event-popup-btn">*TERMS APPLY</span>
                  </div>
              </div>
            {% endcomment %}
              <form method="post" action="/cart/add" id="product_form_8281019023643" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="novalidate" data-product-form="">
                  <input type="hidden" name="form_type" value="product">
                  <input type="hidden" name="utf8" value="✓">
  
                  <div class="product-form__controls-group product-form__controls-group--submit">
                      <p class="error-message"></p>
                      <div class="product-form__item product-form__item--submit">
                          <div class="product-form__add-to-setting">
                              <div class="ship-timeline-n-tracking">
                                  <p class="product-form_ship-in-ring-timeline ship-msg">Ships in a ring by
                                      <b>Wed, May 29</b>
                                  </p>
                                  <p class="realtime-track">Track in real time before it ships</p>
                              </div>
                              <div class="sticky-button-price-wrapper">
                                  <div class="product-sticky-price engagement-ring medium-up--hide">
                                      <div class="product-single__price">
                                          <div class="prodcut__price">
                                              <div class="price__on-sale" data-uw-rm-sr="">$366</div>
                                              <div class="diamond__only">(Diamond Only)</div>
                                          </div>
                                          <!--<div class="bank-wire-price" data-uw-rm-sr="">BANK WIRE PRICE $359</div>-->
                                      </div>
                                  </div>
                                  <button type="button" name="add" class="btn"><span class="loading-spinner" data-loader=""></span><span data-add-to-cart-text="">Add to Ring</span></button>
                              </div>
                          </div>
                          <div class="product-form__buy-loose">
                              <p class="product-form_ship-loose-timeline ship-msg">
                                  Ships Loose By
                                  <b>Tues, May 28</b>
                              </p>
                              <input type="hidden" name="properties[_Ship by]" id="properties-ship-by" value="Wednesday, May 29">
                              <input type="hidden" name="properties[_Ship In]" id="properties-ship-in" value="8">
                              <button type="button" name="add" aria-label="Add to cart" class="btn btn--secondary-accent">
                                  <span class="loading-spinner" data-loader=""></span>
                                  <span data-add-to-cart-text="">Buy Loose</span>
                              </button>
                          </div>
                      </div>
                  </div>
                  <input type="hidden" name="product-id" value="8281019023643">
                  <input type="hidden" name="section-id" value="diamond-product-template">
              </form>
  
  
              <div class="product_description--accordion">
                  <div class="accordion-header active">
                      <h4>DIAMOND DETAILS</h4>
                      <span class="arrow"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-down" viewBox="0 0 9 9"><path d="M8.542 2.558a.625.625 0 0 1 0 .884l-3.6 3.6a.626.626 0 0 1-.884 0l-3.6-3.6a.625.625 0 1 1 .884-.884L4.5 5.716l3.158-3.158a.625.625 0 0 1 .884 0z" fill="#fff"></path></svg></span>
                  </div>
                  <div class="accordion-content" style="display: block;">
                      <div class="pair-first-diamond">
                          <p>
                              <span class="meta__title">Lab</span>
                              <span class="meta-info-desc metal-variant-info">
                                    <a class="diamond-certificate-link" target="_blank" href="https://www.gia.edu/report-check?reportno=2486697056" rel="null noopener" aria-describedby="a11y-new-window-message" aria-label="GIA - open in a new tab" data-uw-rm-ext-link="" uw-rm-external-link-id="https://www.gia.edu/report-check?reportno=2486697056$gia" data-uw-rm-brl="PR" data-uw-original-href="https://www.gia.edu/report-check?reportno=2486697056">
                                    <span class="lab-name">GIA</span>
                                    </a>
                              </span>
                          </p>
                          <p>
                              <span class="meta__title">Certificate Number</span>
                              <span class="meta-info-desc metal-variant-info">
                                  <a class="diamond-certificate-link" target="_blank" href="https://www.gia.edu/report-check?reportno=2486697056" rel="null noopener" aria-describedby="a11y-new-window-message" aria-label="2486697056 - open in a new tab" data-uw-rm-ext-link="" uw-rm-external-link-id="https://www.gia.edu/report-check?reportno=2486697056$2486697056" data-uw-rm-brl="PR" data-uw-original-href="https://www.gia.edu/report-check?reportno=2486697056">
                                    <span class="certificate-number">2486697056</span>
                                  </a>
                              </span>
                          </p>
                          <p>
                              <span class="meta__title">SHAPE</span>
                              <span class="meta-info-desc shape-info">Oval</span>
                          </p>
                          <p>
                              <span class="meta__title">CARAT</span>
                              <span class="meta-info-desc carat-info">0.37</span>
                          </p>
                          <p>
                              <span class="meta__title">Cut</span>
                              <span class="meta-info-desc cut-info">Very Good</span>
                          </p>
                          <p>
                              <span class="meta__title">Color</span>
                              <span class="meta-info-desc color-info">E</span>
                          </p>
                          <p>
                              <span class="meta__title">Clarity</span>
                              <span class="meta-info-desc clarity-info">SI1</span>
                          </p>
                          <p>
                              <span class="meta__title">Polish</span>
                              <span class="meta-info-desc polish-info">Excellent</span>
                          </p>
                          <p>
                              <span class="meta__title">Symmetry</span>
                              <span class="meta-info-desc symmetry-info">Good</span>
                          </p>
                          <p>
                              <span class="meta__title">Fluorescence</span>
                              <span class="meta-info-desc fluorescence-info">None</span>
                          </p>
                          <p>
                              <span class="meta__title">TABLE</span>
                              <span class="meta-info-desc table-info">60.0%</span>
                          </p>
                          <p>
                              <span class="meta__title">DEPTH</span>
                              <span class="meta-info-desc depth-info">56.3%</span>
                          </p>
                          <p>
                              <span class="meta__title">MEASUREMENT</span>
                              <span class="meta-info-desc measurements-info">6.02x4.23x2.38</span>
                          </p>
                          <p>
                              <span class="meta__title">L/W RATIO</span>
                              <span class="meta-info-desc l-w-ratio-info">1.42</span>
                          </p>
  
                      </div>
                  </div>
                  <div class="accordion-header price-match-guarantee" style="display: none;">
                      <h4>DIAMOND PRICE GUARANTEE</h4>
                      <span class="arrow"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-down" viewBox="0 0 9 9"><path d="M8.542 2.558a.625.625 0 0 1 0 .884l-3.6 3.6a.626.626 0 0 1-.884 0l-3.6-3.6a.625.625 0 1 1 .884-.884L4.5 5.716l3.158-3.158a.625.625 0 0 1 .884 0z" fill="#fff"></path></svg></span>
                  </div>
                  <div class="accordion-content">
                      <p class="learn--more">Our large inventory of exclusive diamonds is fair priced! Therefore, if you find the same diamond with a matching GIA or IGI certificate, we will honor the price.
                          <span>
                            <a href="#" data-uw-rm-brl="PR" data-uw-original-href="#"  >Learn more.</a>
                          </span>
                      </p>
  
                  </div>
                  <div class="accordion-header lifetime-diamond-upgrade">
                      <h4>LIFETIME DIAMOND UPGRADE</h4>
                      <span class="arrow"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-down" viewBox="0 0 9 9"><path d="M8.542 2.558a.625.625 0 0 1 0 .884l-3.6 3.6a.626.626 0 0 1-.884 0l-3.6-3.6a.625.625 0 1 1 .884-.884L4.5 5.716l3.158-3.158a.625.625 0 0 1 .884 0z" fill="#fff"></path></svg></span>
                  </div>
                  <div class="accordion-content">
                      <p>We offer a lifetime upgrade policy for all Natural GIA certified diamonds purchased from With Clarity, with proof of receipt. If you would like to upgrade your diamond, we’ll apply 100% of the credit toward the purchase of a new
                          GIA certified diamond priced at least twice the original diamond purchase.</p>
                  </div>
              </div>
          </div>
      </div>
  
  </div>
</div>
<div id="diamondupdatetab" style="display:none;">
  {% for metaobject in product.metafields.custom.diamond_update.value %}
    {{ metaobject  }}
  {% endfor %}
</div>
<script>
  var _product = {{ product | json }}
</script>
{{ '//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js' | script_tag }}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ 'diamonddetails.js' | asset_url }}" ></script>

{% schema %} 
  { 
    "name": "Diamond Details", 
    "class" : "page-width",
    "settings": [] 
  } 
{% endschema %}