<section class="mrg_t">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center mb-3">
            <h2 class="heading">Shop Diamonds by Shape</h2>
            <div class="subHeading">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
        </div>

        <div class="diamond_card row d-flex justify-content-between align-items-center cusGap">

            <div class="scalHvrDiam col-3 col-lg-2 col-xl-1 d-flex flex-column justify-content-center align-items-center">
                {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                    <img
                      width="600"
                      height="600"
                      loading="lazy"
                      alt="Asscher"
                      draggable="false"
                      class="img-fluid"
                      src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}">
                  {%- else -%}
                    <img
                      width="600"
                      height="600"
                      loading="lazy"
                      alt="Asscher"
                      draggable="false"
                      class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/asscher_shop_diamonds_by_shape.png?v=1728651283">
                {%- endif -%}
                <div class="shapeName">Asscher</div>
            </div>
            <div class="scalHvrDiam col-3 col-lg-2 col-xl-1 d-flex flex-column justify-content-center align-items-center">
              {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Cushion"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}">
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Cushion"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/cushion_shop_diamonds_by_shape.png?v=1728651284">
            {%- endif -%}
                <div class="shapeName">Cushion</div>
            </div>
            <div class="scalHvrDiam col-3 col-lg-2 col-xl-1 d-flex flex-column justify-content-center align-items-center">
              {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Emerald"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}">
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Emerald"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/emerald_shop_diamonds_by_shape.png?v=1728651284">
            {%- endif -%}
               <div class="shapeName">Emerald</div>
            </div>
            <div class="scalHvrDiam col-3 col-lg-2 col-xl-1 d-flex flex-column justify-content-center align-items-center">
              {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Heart"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}">
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Heart"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/heart_shop_diamonds_by_shape.png?v=1728651284">
            {%- endif -%}
               <div class="shapeName">Heart</div>
            </div>
            <div class="scalHvrDiam col-3 col-lg-2 col-xl-1 d-flex flex-column justify-content-center align-items-center">
              {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Marquise"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}">
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Marquise"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/marquise_shop_diamonds_by_shape.png?v=1728651284">
            {%- endif -%}
                <div class="shapeName">Marquise</div>
            </div>
            <div class="scalHvrDiam col-3 col-lg-2 col-xl-1 d-flex flex-column justify-content-center align-items-center">
              {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Oval"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}">
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Oval"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/oval_shop_diamonds_by_shape.png?v=1728651284">
            {%- endif -%}
                <div class="shapeName">Oval</div>
            </div>
            <div class="scalHvrDiam col-3 col-lg-2 col-xl-1 d-flex flex-column justify-content-center align-items-center">
              {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Pear"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}">
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Pear"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/pear_shop_diamonds_by_shape.png?v=1728651284">
            {%- endif -%}
                <div class="shapeName">Pear</div>
            </div>
            <div class="scalHvrDiam col-3 col-lg-2 col-xl-1 d-flex flex-column justify-content-center align-items-center">
              {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Princess"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}">
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Princess"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/princess_shop_diamonds_by_shape.png?v=1728651284">
            {%- endif -%}
               <div class="shapeName">Princess</div>
            </div>
            <div class="scalHvrDiam col-3 col-lg-2 col-xl-1 d-flex flex-column justify-content-center align-items-center ">
              {%- if section.settings.certification_and_diamond_education_image_2 != blank -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Round"
                  draggable="false"
                  class="img-fluid"
                  src="{{ section.settings.certification_and_diamond_education_image_2 | image_url }}">
              {%- else -%}
                <img
                  width="600"
                  height="600"
                  loading="lazy"
                  alt="Round"
                  draggable="false"
                  class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/round_shop_diamonds_by_shape.png?v=1728651284">
            {%- endif -%}
               <div class="shapeName">Round</div>
            </div>
            
        </div>

    </div>
</section>